*{
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 245, 245) ;
    margin: 0;
    text-align: center;
}

/* Parte do cabeçalho */
header{
    background-image: url(Img/logo1.jpeg);
    background-color: rgb(245, 245, 245);
    background-position: left;
    background-repeat: space;
    text-align: center;
    color: black;
    padding: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Os botões do menu */
.content{
    overflow: hidden;
    background-color: rgb(129, 81, 46);
    cursor: pointer;
}
.content a{
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
.content a:hover{
    background-color: brown;
    color: antiquewhite;
}

/* Edição das imagens do cardápio */
.galeria {
    margin: 5px;
    border: rgb(69, 69, 69);
    float: left;
    width: 250px;
    height: auto;
    display: block;
}
.galeria:hover {
    border: 5px solid #7e4301;
    float: left; 
}
.galeria img {
    width: 100%;
    height: auto;
    display: block;
}
.desc {
    padding: 5px;
    text-align: center;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: auto;
    height: auto;
    display: block;
    float: right;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    text-align: center;
    padding-top: 220px;
}