*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100%;
}

body{
    background: linear-gradient(to bottom, rgb(216, 211, 211), rgb(245, 245, 245), grey);
    margin: 0 auto;
    text-align: center;
}
#page-container {
    position: relative;
    min-height: 100vh
}
#content-wrap {
    padding-bottom: 2.5rem;    /* altura do rodapé */
}

/* Parte do cabeçalho */
header{
    background-color: #7e4301;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.circle-image {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.circle-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Os botões do menu */
.content{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.content a{
    color: bisque;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
.content a:hover{
    background-color: brown;
    color: bisque;
}

/* Página principal */
.foto-inicial {
    width: 600px;
    height: auto;
}
.container {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}
#circle{
    display: flex;
    border-radius: 100%;
    border: 8px double #7e4301;
    overflow: hidden;
    height: 350px;
    width: 350px;
}
#circle img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

/* Edição das imagens do cardápio */
main{
    padding-bottom: 10px;
}
.galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.foto {
    margin: 5px;
    border: 2px solid rgb(71, 71, 71);
    float: center;
    width: 250px;
    height: auto;
    display: block;
}
.foto:hover{
    border: 5px solid #7e4301;
    float: center; 
    display: block;
}
.foto img{
    width: 100%;
    height: auto;
    display: block;
}
.desc{
    padding: 10px;
    text-align: center;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* contatos */
.contatos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
dl {
    padding: 10px;
}
iframe {
    width: 250px;
    height: 250px;
}

/* Rodapé */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    background-color: #7e4301;
    color: bisque;
    padding: 5px;
}
footer a{
    color: rgb(255, 169, 108);
}